*, *::after, *::before {
	margin: 0;
	padding: 0;

	box-sizing: border-box;

	color: #fff;
	font-family: 'Russo One', sans-serif;

	letter-spacing: 0.7px;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.page {
	flex-direction: column;

	width: 100vw;
	height: 100vh;

	background: linear-gradient(135deg, #7f00ff 0%, #e100ff 50%);
}

/* Header */
.header {
	margin-top: 30px;
}

/* Description */
.description {
	margin: 10px 0 15px 0;
}

.description p {
	text-align: center;
}

/* Canvas */
.canvas-parent {
	position: relative;
}

.canvas-info {
	width: 20px;
	height: 20px;

	border-radius: 50%;

	position: absolute;
	top: 10px;
	left: 25px;
	z-index: 10;

	background: #fff;
}

.canvas-info .tooltip {
	padding: 5px 3px;

	bottom: 150%;

	font-size: 14px;
}

#paint-canvas {
	display: block;
}

/* Outputs */
.outputs {
	margin: 15px 0 20px 0;

	border-bottom: 2.5px solid #fff;
}

.outputs div {
	position: relative;

	width: 50px;
	height: 50px;

	margin-right: 10px;
}

.outputs div:last-child {
	margin-right: 0;
}

.outputs div span {
	z-index: 2;
}

.outputs div:after {
	content: "";
	display: block;

	position: absolute;

	width: 50px;
	height: calc(var(--top) * 50px);

	background: #ff3b3b;
	left: 0;
	top: calc(50px - (var(--top) * 50px));
	z-index: 1;
}

.outputs div.active:after {
	background: #8fee8f;
}

/* Tooltip */
.tooltip {
	visibility: hidden;
	
	width: 120px;
	
	color: #fff;
	background-color: #555;
	
	text-align: center;
	border-radius: 6px;
	
	padding: 5px 0;
	margin-left: -60px;
	
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	
	opacity: 0;

	transition: opacity 0.3s;

	z-index: 3;
}

.tooltip:after {
	content: "";

	position: absolute;
	top: 100%;
	left: 50%;

	margin-left: -5px;

	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;

	z-index: 2;
}

.tooltip-hover:hover .tooltip {
	visibility: visible;

	opacity: 1;
}

.tooltip-icon-text {
	color: #000;
}

/* Footer */
.footer-text-made {
	padding: 20px 0;
}

.no-support {
	display: none;

	width: 100vw;
	height: 100vh;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;

	background: #7f00ff;
}

.no-support p {
	font-size: 14px;
}

#loading {
	flex-direction: column;

	width: 100vw;
	height: 100vh;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;

	background: #7f00ff;
}

.loading-warring {
	margin-bottom: 20px;

	font-size: 12px;
}

@media(max-width: 768px) {
	.no-support {
		display: flex;
	}

	.canvas-elements {
		display: none;
	}
}
